.loginContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.headerContainer {
  display: flex;
  gap: 0.69rem;
  margin-top: 3.69rem;
  margin-bottom: 2.94rem;
  justify-content: center;
  align-items: center;
}

input {
  width: 31.375rem;
  height: 3.8125rem;
  background-color: #FFF;
  border-radius: 20px;
  padding-left: 1.75rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

select {
  width: 13.4375rem;
  height: 3.8125rem;
  border-radius: 20px;
  background: #FFF;
  padding: 0 1.5rem;
  font-size: 1rem;
}

.favoriteButton {
  width: 2.625rem;
  height: 2rem;
  border-radius: 0.3125rem;
  background: #2E2E35;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingButton {
  width: 2.625rem;
  height: 2rem;
  border-radius: 0.3125rem;
  background: #2E2E35;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
}

@media(max-width:1201px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:810px) {
  .cardsContainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media(max-width:650px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
  }
  select, input {
    width: 100%;
  }

}