.cardContainer {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 365px;
  height: 205.99px;
  flex-direction: column;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 8px;

}

.descriptionContainer {
  width: 100%;
  padding: 3.25rem 0.56rem 0.4rem 2.56rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 67.08%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.buttons {
 display: flex;
 align-items: center;
}

.rating {
  display: flex;
}

.favorite {
  color: #D4D4D8;
}

.favoriteActive {
  color: #ed135c;
}

.descriptionContainer strong {
  font-weight: 700;
  color: #FFF;
  display: block
}

.genre{
  color: #D4D4D8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
}