
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxLogin {
  width: 33.6875rem;
  border-radius: 2.5rem;
  background: #FFF;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.boxLogin h1 {
  color: #000;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 2rem;
}


.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.inputContainer input {
  width: 100%;
}

.buttonSubmit {
  border-radius: 20px;
  background: #E48700;
  box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
  height: 3.375rem;
  width: 100%;
  border: none;
  cursor: pointer;
  color:#FFF;
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 700;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
}

.infoContent span {
  color: #f63f3f;
}

.infoContent button {
  background: none;
  border: none;
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  font-family: 'Inter';
  font-weight: 700;
  color: #000;
  cursor: pointer
}